/* GENERAL RESPONSIVE SETTINGS */

/* Large Screens - 1400px */
@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
  }
  
  /* Medium Screens - 1200px */
  @media screen and (max-width: 1200px) {
    /* Navigation Adjustments */
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .menu-links {
      right: 0;
      left: unset;
    }
  
    /* Section Adjustments */
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
  
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section_pic-container {
      height: 275px;
      width: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  /* Small Screens - 600px */
  @media screen and (max-width: 600px) {
    /* Navigation Adjustments */
    .menu-links {
      width: 100%;
    }
    .menu-links a {
      text-align: center;
    }
  
    /* Contact and Footer Adjustments */
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
  
    /* Text and Font Adjustments */
    article {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
  
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
  
    /* Flexible Wrapping */
    .about-container,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
  
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
  
    /* Section Adjustments */
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  
    .section_pic-container {
      width: auto;
      height: 46vh;
      justify-content: center;
    }
    .section_text_p2 {
      font-size: 1.2rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  
  /* Tablet Screens - 768px */
  @media screen and (max-width: 768px) {
    #projects {
      padding: 2rem 1rem;
    }
  
    .project-card {
      border-radius: 1rem;
    }
  
    .project-card img {
      height: 150px;
    }
  
    .project-title {
      font-size: 1.25rem;
    }
  
    .project-description {
      font-size: 0.9rem;
    }
  
    .project-btn {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
    }
  }
  